<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Email information</title>
</head>

<body>
<h1>Email Info</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Recipient</th>
        <th>Subject</th>
        <th>Main text of massage</th>
        <th>Send date</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${email.id}"></td>
    <td th:text="${email.recipient}"></td>
    <td th:text="${email.subject}"></td>
    <td th:text="${email.body}"></td>
    <td th:text="${email.date}"></td>
    </tbody>
</table>

<footer>

</footer>
</body>
</html>