<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <title>Create Mail</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="col-lg-4 block-m-top-15 d-block mx-auto">
                <div class="row">
                    <form class="col mx-auto" th:action="@{/mail}" th:method="post">
                        <div class="form-group">
                            <label for="recipient">Recipient</label>
                                <input class="form-control" type="email" id="recipient" name="recipient">
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                                <input class="input-field" type="text" id="subject" name="subject">
                        </div>
                        <div class="form-group">
                            <label for="body">Body</label>
                                <input class="input-field" type="text" id="body" name="body">
                        </div>
                        <div class="form-group">
                            <label for="localdate">When to send (dd MM yyyy HH:mm)</label>
                                <input class="input-field" type="text" id="localdate" name="date">
                        </div>
                        <button class="btn btn-success" type="submit">Send an Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>